#footer-root {
  position: fixed;
  inset: auto 20px 20px auto;
  padding: 10px 20px;
  width: 305px;
  background-color: rgba(255, 255, 255, 0.03);
  border-radius: 5px;
  user-select: none;
}
#footer-root p {
  margin: 5px 0px;
}
