#sidebar-root {
  background-color: black;
  position: fixed;
  inset: 0 auto 0 0;
  width: 250px;
}

/* Title and Logo */
#sidebar-root .title {
  display: flex;
  align-items: center;
  padding: 30px 20px;
  user-select: none;
}
#sidebar-root .title button {
  all: unset;
}
#sidebar-root .title img {
  height: 45px;
  width: 45px;
  opacity: 0.5;
  cursor: pointer;
}
#sidebar-root .title img:hover,
#sidebar-root .title button:focus img {
  opacity: 1;
}
#sidebar-root .title p {
  color: orange;
  margin: 0px;
  margin-left: 20px;
  font-size: 18px;
}

/* Options */
#sidebar-root .options {
  margin: 0 20px;
}
#sidebar-root .options button {
  all: unset;
  display: block;
  width: 90%;
  padding: 10px;
  color: rgb(167, 141, 95);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.15s;
}
#sidebar-root .options button:hover,
#sidebar-root .options button:focus {
  background-color: rgba(255, 255, 255, 0.072);
}
#sidebar-root .options button:active {
  background-color: rgba(255, 255, 255, 0.141);
}
#sidebar-root .options .icon-left {
  margin-right: 10px;
}
#sidebar-root .options .icon-right {
  float: right;
}
